/* html{
	height: 100%;
	width: 100%;
} */

body{
	/* height: 100%;
	width: 100%; */
	font-family: 'consolas';
}

.peg{
	width: 8px;
	height: 8px;
	border-radius: 2px;
	margin: 2px;
}

.peg__red{
	background: #f44336;
}
.peg__green{
	background: #4caf50;
}
.peg__blue{
	background: #2196f3;
}
.peg__yellow{
	background: #ffeb3b;
}

.cell{
	box-sizing: border-box;
	height: 50px;
	width: 50px;
	/*border: 1px solid #ddd;*/
	background: transparent;
	float: left;
}

.row{
	height: 50px;
	width: 500px; /* Make it dynamic*/
	background: transparent;
}

.grid{
	width: 500px; /* Make it dynamic*/
	border:1px solid #ddd;
	/*Image reference: http://www.simplyplaygrounds.co.uk/console/upload/13800177131---100-Snakes-and-Ladders-2.jpg*/
	background: url('../img/board.jpg') no-repeat center center;
	margin: 10px;
	float: left;
}

.dice{
	box-sizing: border-box;
	width: 75px;
	height: 100px;
	background:#eee;
	margin: 10px;
	padding: 5px;
	float: left;
}

.gameboard{
	width: 750px;
	margin:auto;
}