/* html{
	height: 100%;
	width: 100%;
} */

body{
	/* height: 100%;
	width: 100%; */
	font-family: 'consolas';
}

.peg{
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin: 2px;
	border:2px solid #111;
	box-shadow: 0px 1px 5px #222;
	display: inline-block;
}

.peg__red{
	background: #f44336;
}
.peg__green{
	background: #4caf50;
}
.peg__blue{
	background: #2196f3;
}
.peg__yellow{
	background: #ffeb3b;
}
.display__peg__type{
	/*float: left;*/
}

.cell{
	box-sizing: border-box;
	height: 50px;
	width: 50px;
	/*border: 1px solid #ddd;*/
	background: transparent;
	float: left;
}

.row{
	height: 50px;
	width: 500px; /* Make it dynamic*/
	background: transparent;
}

.grid{
	width: 500px; /* Make it dynamic*/
	border:1px solid #ddd;
	/*Image reference: https://s-media-cache-ak0.pinimg.com/736x/03/c3/ab/03c3ab693eedcd84c1119a947974cb93.jpg*/
	background: url('../img/board.jpg') no-repeat center center;
	margin: 5px;
	float: left;
}

.dice{
	box-sizing: border-box;
	width: 75px;
	height: 100px;
	background:#eee;
	margin: 5px;
	padding: 5px;
	float: left;
}

.indicators__block{
	margin: 5px;
	font-size: 12px;
}

.scorecard{
	box-sizing: border-box;
    margin: 5px;
    width: 230px;
    padding: 5px;
    box-shadow: 0px 4px 10px #888;
    float: left;
    border-radius: 1px;
}

.gameboard,.scoreboard{
	width: 960px;
	margin:auto;
}